body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #070505;
  font-family: "Instrument Serif", serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*hero style*/

.hero_container {
  position: relative;
  width: 100%;
  height: 99vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.hero_text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 90vh;
  position: absolute;
  top: 9vh;
  left: 0;

  z-index: 10;
  border-radius: 5px;
}

.hero_text {
  text-align: left;
  padding: 4rem;
}

.hero_title {
  color: #f7f1e1;
}

#hero_title1 {
  font-size: 3rem;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

#hero_title2 {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 0.5rem;
}

.branches_logo {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  margin-top: 10px;
}

.main_logo {
  width: 380px;
}

.branch1 {
  width: 100px;
  height: 10rem;
  transform: rotate(-90deg);
}

.branch2 {
  width: 100px;
  height: 10rem;
  transform: rotate(90deg);
}

.first_section_container p {
  color: white;
  font-size: 1.2rem;
  margin: 0 auto;
  margin-bottom: 15rem;
  padding-bottom: 5rem;
}

/* Seksioni 1 */
.first_section {
  padding-top: 50px;
  padding-bottom: 40px;
  overflow: hidden;
}

.first_section_container {
  text-align: center;
  width: 100%;
}

.main_about_pic {
  width: 100%;
  max-height: 440px;
  object-fit: cover;
  /* qe mos mu bo strech foto */
  display: block;
  margin-bottom: 20px;
  object-position: 50% 70%;
  /*horizontalisht rrin nmes kur tbohet zoom
  e per vertikalisht osht 70% dmth e zoom pjesen pak ma poshte*/
}

.first_section {
  padding-top: 50px;
  padding-bottom: 40px;
}

.first_section_container {
  text-align: center;
  width: 100%;
}

.aboutus_img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  /* qe mos mu bo strech foto */
  display: block;
}

.main_logo {
  width: 180px;
}

.branches_logo {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  margin-top: 10px;
}

.first_section_container p {
  margin-bottom: 15rem;
  padding-bottom: 5rem;
}

.branch1 {
  width: 100px;
  height: 10rem;
  transform: rotate(-90deg);
}

.branch2 {
  width: 100px;
  height: 10rem;
  transform: rotate(90deg);
}

.first_section_container p {
  color: white;
  font-size: 1.2rem;
  margin: 0 auto;
}

.ourstory_container1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  background-color: none;
  color: #f7f1e1;
  box-sizing: border-box;
}

/* fotoje me nxan 60% */
.picture {
  overflow: hidden;
}

.picture img {
  object-fit: cover;
  display: block;
}

.text_container {
  padding: 2rem;
  box-sizing: border-box;
  font-size: 1rem;
}

.text_container h1 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  margin-bottom: 1rem;
  color: #f7f1e1;
}

.text_container p {
  text-align: left;
  font-size: 1.2em;
  line-height: 1.6;
}

.achievement_title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.achievement_title img {
  width: 100px;
  display: inline-block;
  margin: 0;
  /* margin per me avoid mu stack */
}

.achievement_title h1 {
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #f7f1e1;
}

.picture {
  width: 100%;
}

.picture img {
  width: 100%;
  height: auto;
}

.text_container {
  width: 70%;
}

.text_container h1 {
  text-align: left;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  margin-bottom: 4rem;
  color: #ae8f39;
}

.text_container p {
  text-align: left;
  font-size: 1.5rem;
}

.menu_button {
  margin: 1rem auto;
  display: block;
  padding: 0.5rem 3rem;
  font-size: 1.2rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 15px;
  color: #f7f1e1;
  border: 1px solid #f7f1e1;
  background-color: #1e0202;
}

.menu_button:hover {
  background-color: #f7f1e1;
  color: #070505;
  cursor: pointer;
  transition: ease 0.3s;
}

/* interior yellow pic book */

.interior_picture img {
  width: 100%;
  height: 24rem;
  object-fit: cover;
  object-position: center;
}

.interior_picture {
  position: relative;
  width: 100%;
  height: 35rem;
  overflow: hidden;
  margin-top: 10rem;
}

.interior_picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* overlay effect */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.9) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease;
  /* smooth*/
}

.interior_picture:hover .overlay {
  opacity: 0.8;
}

.book_button {
  padding: 0.7rem 2.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 15px;
  color: #f7f1e1;
  border: 1px solid #f7f1e1;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.book_button:hover {
  background-color: #f7f1e1;
  color: #070505;
}

/* Features Section */
.features_section {
  display: flex;
  background-color: #010201;

  justify-content: space-between;
}

.picture_features {
  width: 22%;
  height: 750px;
  overflow: hidden;
}

.picture_features img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.features_container {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;

  justify-content: center;
  align-items: center;
  justify-items: center;
}

.feature {
  width: 350px;
  height: 350px;
  background: transparent;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature h2 {
  font-size: 1.5rem;
  color: #f7f1e1;
  margin-bottom: 0.5rem;
}

.feature p {
  font-size: 1rem;
  color: #f7f1e1;
  line-height: 1.4;
}

.feature h1 {
  font-size: 3rem;
  color: #9c7814;
  margin-bottom: 0.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1.8s ease;
}
.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

/* @media(max-width: 992px) {
  .interior_picture {
    height: 28rem;
  }

  .picture_features {
    width: 100%;
  }
  

  .feature {
    gap: 0;
    padding: 0;
    height: 240px;

  }

  .ourstory_container1 {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;

  }

  .one {
    flex-direction: column;
  }

  .ourstory_container1 p {
    width: 100%;

  }

  .text_container {
    font-size: 1 rem;
    flex: 1;
    max-width: 100%;
    padding: 0;
    box-sizing: border-box;


  }

  .picture {

    max-width: none;
    overflow: hidden;
  }



  .text_container {
    margin: 2rem 0;
    text-align: center;
    width: 600px;
    height: 350px;
    max-width: none;
    padding: 0;
    font-size: 0.2rem;
  }


  .text_container p {
    font-size: 0.2em;
    line-height: 1.4;
    margin-bottom: 2.2rem;
  }

  .achievement_title img {
    width: 70px;
    display: none;

  }


  .text_container h1 {

    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    color: #9c7814;

  }

  .text_container p {
    text-align: left;
    font-size: 1.2rem;
  }

  .main_logo {
    width: 130px;
    height: 130px;
  }

  .branches_logo {
    gap: 2rem;
    margin-top: 1rem;
  }


  .branch1 {
    width: 60px;
    height: 6rem;
    transform: rotate(-90deg);
  }

  .branch2 {
    width: 60px;
    height: 6rem;
    transform: rotate(90deg);
  }
} */

@media (max-width: 992px) {
  .interior_picture {
    height: 28rem;
  }

  .picture_features {
    width: 100%;
    height: 400px;
  }

  .features_section {
    flex-direction: column;
  }

  .features_container {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    padding: 2rem 1rem;
  }

  .feature {
    width: 100%;
    height: auto;
    padding: 2rem 1rem;
    width: 540px;
    width: 100%;
    height: auto;
    padding: 2rem 1rem;
  }
}
@media (max-width: 768px) {
  .interior_picture {
    height: 25rem;
  }
  .features_container {
    grid-template-columns: 1fr;
  }

  .text_container {
    width: 500px;
    height: 350px;
    font-size: 0.2rem;
  }

  .text_container p {
    font-size: 0.2em;
    line-height: 1.4;
    margin-bottom: 2.2rem;
  }

  .text_container h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
  }

  .text_container p {
    text-align: left;
    font-size: 1.2rem;
  }

  .main_logo {
    width: 120px;
    height: 120px;
  }

  .branches_logo {
    gap: 2rem;
    margin-top: 1rem;
  }

  .branch1 {
    width: 60px;
    height: 6rem;
    transform: rotate(-90deg);
  }

  .branch2 {
    width: 60px;
    height: 6rem;
    transform: rotate(90deg);
  }
}

@media (max-width: 480px) {
  .features_container {
    grid-template-columns: 1fr;
  }
  .interior_picture {
    height: 20rem;
  }

  .feature {
    gap: 0;
    padding: 0;
    height: 240px;
  }

  .picture {
    max-width: none;
    overflow: hidden;
  }

  .text_container {
    text-align: center;
    width: 300px;
    height: 250px;
    max-width: none;
    padding: 0;
    font-size: 0.1rem;
  }

  .text_container h1 {
    font-size: 1em;
    margin: 20px;
    color: #f7f1e1;
  }

  .text_container p {
    font-size: 0.2em;
    line-height: 1.4;
    margin-bottom: 2.2rem;
  }

  .achievement_title img {
    width: 70px;
    display: none;
  }

  .text_container h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    color: #9c7814;
  }

  .picture_features {
    overflow: hidden;
  }

  .text_container p {
    text-align: left;
    font-size: 1.1rem;
  }

  .main_logo {
    width: 100px;
    height: 100px;
  }
}
