body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #070505;
  font-family: "Instrument Serif", serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


/*navbar style*/

.navbar {
  margin: 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 10vh;
  transition: transform 0.4s ease;
}

.navbar.hidden {
  transform: translateY(-100%);
  /* me mshef kur e animojna per scroll */
}


.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 9vh;
  background: linear-gradient(90deg,
      rgba(0, 0, 0, 0.877) 10%,
      rgba(0, 0, 0, 0.877) 50%,

      rgba(0, 0, 0, 0.877) 100%);
  margin: 0;
  padding: 0 2rem;
}

.navbar_toggle.hidden {
  display: none;
}

.logo {
  height: 100px;
  margin-top: 0.6rem;
  width: auto;
}

.logo:hover {
  cursor: pointer;
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;

}

.nav_item {
  margin: 0 3rem;
  padding: 1rem;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}




.nav_link {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

.nav_link:hover {
  border-bottom: #F7F1E1 2px solid;
  padding-bottom: 0.2rem;
  transition: ease 0.3s;
  cursor: pointer;
}


/*hero style*/

.hero_container {
  position: relative;
  width: 100%;
  height: 99vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}



.hero_text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 90vh;
  position: absolute;
  top: 9vh;
  left: 0;
  background: linear-gradient(90deg,
      rgba(0, 0, 0, 0.115) 10%,
      rgba(0, 0, 0, 0.108) 50%,

      rgba(29, 11, 4, 0) 100%);
  z-index: 10;
  border-radius: 5px;
}

.hero_text {
  text-align: left;
  padding: 4rem;
}

.hero_title {
  color: #F7F1E1;


}

#hero_title1 {
  font-size: 3rem;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

#hero_title2 {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 0.5rem;
}




/* About Section */

.first_section {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(30, 2, 2) 51%, rgb(0, 0, 0) 100%);
  padding-top: 50px;
  padding-bottom: 40px;

}

.first_section_container {
  text-align: center;
  width: 100%;
}

.aboutus_img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  /* qe mos mu bo strech foto */
  display: block;
}

.main_logo {
  width: 180px;
}

.branches_logo {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  margin-top: 2rem;

}

.first_section_container p {
  margin-bottom: 15rem;
  padding-bottom: 5rem;
}

.branch1 {
  width: 100px;
  height: 10rem;
  transform: rotate(-90deg);
  /*Me e kthy per 90deg branch decorin*/
}

.branch2 {
  width: 100px;
  height: 10rem;
  transform: rotate(90deg);
}

.first_section_container p {
  color: white;
  font-size: 1.2rem;
  margin: 0 auto;
}



/*Section i tekstit*/

.ourstory_container1 {
  display: flex;
  justify-content: center;
  background-color: #101210;
  color: #f7f1e1;

}


/* fotoje me nxan 60% */
.picture {
  flex: 0 0 60%;
  overflow: hidden;
}

.picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.text_container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_box {
  padding: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content_box h1 {
  text-align: center;
}

.content_box p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
  border: #075b27ae;
}


.achievement_title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.achievement_title img {
  width: 100px;
  display: inline-block;
  margin: 0;
  /* margin per me avoid mu stack */
}

.achievement_title h1 {
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #F7F1E1;
}

.picture {
  width: 100%;
}

.picture img {
  width: 100%;
  height: auto;
}

.text_container {
  width: 70%;
}

.text_container h1 {
  text-align: left;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  margin-bottom: 4rem;
  color: #ae8f39;
}

.text_container p {
  text-align: left;
  font-size: 1.5rem;
}


.content_box {
  width: 100%;

}



.menu_button {
  margin: 1rem auto;
  display: block;
  padding: 0.5rem 3rem;
  font-size: 1.2rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 15px;
  color: #F7F1E1;
  border: 1px solid #F7F1E1;
  background-color: #1e0202;
}


.menu_button:hover {
  background-color: #F7F1E1;
  color: #070505;
  cursor: pointer;
  transition: ease 0.3s;

}

.interior_picture img {
  width: 100%;
  height: 24rem;
  object-fit: cover;
  object-position: center;

}



.interior_picture {
  position: relative;
  width: 100%;
  height: 28rem;
  overflow: hidden;
  margin-bottom: 15rem;
}

.interior_picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  padding-top: 5rem;
}

/* overlay effect */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.9) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease;
  /* smooth*/
}

.interior_picture:hover .overlay {
  opacity: 1;
}

.book_button {
  padding: 0.7rem 2.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 15px;
  color: #F7F1E1;
  border: 1px solid #F7F1E1;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.book_button:hover {
  background-color: #F7F1E1;
  color: #070505;
}



/* Features Section */
.features_section {
  display: flex;
  background-color: #010201;
  width: 100%;
}


.picture_features {
  width: 50%;
  height: auto;
  overflow: hidden;
}

.picture_features img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.features_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 2rem;
  justify-content: center;
}

.feature {
  width: 350px;
  height: 350px;
  background: transparent;

  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature h2 {
  font-size: 1.5rem;
  color: #F7F1E1;
  margin-bottom: 0.5rem;
}

.feature p {
  font-size: 1rem;
  color: #F7F1E1;
  line-height: 1.4;
}

.feature h1 {
  font-size: 3rem;
  color: #9c7814;
  margin-bottom: 0.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

/*blog section*/


.blog_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #1a1a1a;
  color: #f7f1e1;
}

.blog_button {
  padding: 0.7rem 2.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 15px;
  color: #F7F1E1;
  border: 1px solid #F7F1E1;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

.blog_button:hover {
  background-color: #F7F1E1;
  color: #070505;
}



/* Footer  */



footer {
  background-color: #1e0202;
  width: 100%;
}

.footer_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.footer_col {
  margin-top: 3rem;
}

.footer_logo img {
  max-width: 250px;
}

.footer_col .footer_text {
  max-width: 380px;
  color: #999;
  margin: 2rem 1rem;
}


.footer_socials {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  font-size: 1.8rem;
  text-decoration: none;

}

.footer_socials img {
  width: 2.2rem;
  opacity: 0.6;
}



.footer_col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #999;
  margin-left: 2.5rem;

}

.footer_links {
  display: grid;
  gap: 1rem;
  list-style: none;
}

.footer_links a {
  text-decoration: none;
  color: #999;
}

.footer_links a:hover {
  color: #e05959;
}

.footer_bar {
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  color: #999;
  border-top: #4e4b4b solid 1px;
  background-color: #1e0202;
}