@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(239, 239, 239);
}

body {
  background-color: #070505;
  font-family: "Instrument Serif", serif;
}

/*hero style*/

.main-hero-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: url(/photos/bottles-main-pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  font-weight: 400;
  font-size: 16px;
}

.main-hero-container h1 {
  position: absolute;
  top: 48%;
  left: 50px;
  font-size: 2.5em;
}
.main-hero-container h3 {
  position: absolute;
  top: 57%;
  left: 50px;
  font-size: 1.5em;
}
/* stili per tekstin nga chef luca */
.about-text-heading {
  margin: 90px 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 300px;
  display: flex;
}
.about-text-heading h2 {
  font-size: 32px;
  margin-bottom: 30px;
  line-height: 50px;
}
hr {
  width: 50%;
}
/* stili per containerin e kuq me foto */
.aboutus-section-container {
  background-color: rgb(74, 5, 5);
  width: 100%;
  min-height: 95rem;
  display: flex;
  gap: 10px;
  margin-top: 200px;
  padding: 60px 50px;
  overflow: hidden;
}

.about-left-infocontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 120px;
}
.about-right-infocontainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
  gap: 20px;
  flex-direction: column;
}
.about-right-infocontainer h2,
.about-left-infocontainer h2 {
  font-size: 2.5em;
  font-weight: 400;
}
.about-right-infocontainer a {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 550;
  transition: 0.3s ease all;
}
.about-right-infocontainer a:hover {
  color: rgb(182, 182, 182);
}

.text-container-right,
.text-container-left {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 16px;
}
.text-container-left {
  margin-bottom: 100px;
  align-self: flex-end;
}

.text-container-left p,
.text-container-right p {
  font-size: 1.3em;
  line-height: 30px;
}

.image-wrapper {
  display: flex;
  gap: 40px;
  margin-top: 60px;
}
.image-wrapper img {
  width: 360px;
  height: 550px;
  object-fit: cover;
}
.image-wrapper2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.image-wrapper2 img {
  height: 360px;
  width: 550px;
  object-fit: cover;
}

.quote-message {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  font-family: "Island Moments", cursive;
  font-weight: 400;
  text-align: center;
}

.timeline-section-container {
  display: flex;
  flex-direction: column;
  margin: 60px 0;
  gap: 100px;
}
.timeline-section-container h1 {
  padding: 70px 0 0 80px;
  font-size: 40px;
  font-weight: 400;
}
.timeline {
  padding: 15px;
  display: grid;
  grid-template-columns: 30% auto;
  justify-content: center;
}

.timeline ul {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}
.timeline ul li {
  margin-top: 30px;
  position: relative;
  padding: 25px;
}
.timeline ul li p {
  padding: 0 20px;
  transition: 1.5s;
  text-align: center;
}

.date {
  position: absolute;
  top: 20px;
  left: -65px;
  opacity: 0;
  transition: 1.5s;
  font-size: 22px;
}

.timeline-line {
  background: rgb(228, 228, 228);
  width: 1px;
  border-radius: 12px;
  position: relative;
  justify-self: end;
}

.timeline-point {
  border: none;
  position: absolute;
  border-radius: 50%;
  background: rgb(185, 182, 182);
  width: 12px;
  height: 12px;
  top: 30px;
  left: -7px;
  transition: 1.5s ease;
}
.timeline-innerline {
  position: absolute;
  background: rgb(255, 255, 255);
  width: 4px;
  height: 0%;
  top: 0%;
  left: 0%;
  transition: 1s linear;
}

.interior_picture:hover .overlay {
  opacity: 0.8;
}

.book_button {
  padding: 0.7rem 2.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 15px;
  color: #f7f1e1;
  border: 1px solid #f7f1e1;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.book_button:hover {
  background-color: #f7f1e1;
  color: #070505;
}

/* Features Section */
.features_section {
  display: flex;
  background-color: #010201;
  justify-content: space-between;
}

.picture_features {
  width: 22%;
  height: 750px;
  overflow: hidden;
}

.picture_features img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.features_container {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.feature {
  width: 350px;
  height: 350px;
  background: transparent;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature h2 {
  font-size: 22px;
  font-weight: 550;
  color: #f7f1e1;
  margin-bottom: 0.5rem;
}

.feature p {
  font-size: 18px;
  color: #f7f1e1;
  line-height: 1.4;
}

.feature h1 {
  font-size: 3rem;
  color: #9c7814;
  margin-bottom: 0.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-decoration: none;
}

.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1.8s ease;
}
.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}
@media screen and (min-width: 1145px) {
  .timeline {
    display: block;
    padding: 0 50px;
    margin-bottom: 100px;
  }

  .timeline ul {
    flex-direction: row;
  }
  .timeline ul li {
    margin-top: 0px;
    position: relative;
    width: 100%;
    padding: 10px;
  }
  .timeline ul li p {
    transform: translateY(-10px);
    opacity: 0;
    transition: 1.5s;
    width: 350px;
    font-size: 18px;
    margin-top: 30px;
  }

  .date {
    opacity: 0;
    transition: 1.5s;
    font-size: 22px;
    position: absolute;
    top: -90px;
    left: 37%;
  }

  .timeline-point {
    width: 15px;
    height: 15px;

    top: -35px;
    left: 40%;
    transition: 1.5s ease;
  }

  .timeline-line {
    width: 100%;
    height: 0.4x;
    display: flex;
    justify-content: center;
  }

  .timeline-innerline {
    position: absolute;
    background: rgb(140, 131, 131);
    width: 0%;
    height: 1px;

    top: 0%;
    left: 0%;

    transition: 1s linear;
    border-radius: 999px;
  }
}
@media (max-width: 992px) {
  .main-hero-container h1 {
    top: 50%;
    font-size: 1.6rem;
  }
  .main-hero-container h3 {
    top: 57%;
    font-size: 1rem;
    text-align: center;
  }
  .aboutus-section-container {
    padding: 20px;
    margin-top: 60px;
  }
  .text-container-left,
  .text-container-right {
    font-size: 12px;
  }
  .image-wrapper {
    gap: 20px;
    flex-direction: row;
  }
  .image-wrapper img {
    width: 205px;
    height: 330px;
  }
  .image-wrapper2 img {
    height: 205px;
    width: 330px;
  }
  .about-text-heading {
    padding: 0 100px;
  }
  .about-text-heading h2 {
    margin: 10px 0;
    font-size: 24px;
    gap: 10px;
    padding: 0;
  }
  .interior_picture {
    height: 28rem;
  }
  .timeline ul li p {
    font-size: 16px;
  }
  .quote-message {
    padding: 0 50px;
  }

  .picture_features {
    width: 100%;
    height: 400px;
  }

  .features_section {
    flex-direction: column;
  }

  .features_container {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    padding: 2rem 1rem;
  }

  .feature {
    width: 100%;
    height: auto;
    padding: 2rem 1rem;
    width: 540px;
    width: 100%;
    height: auto;
    padding: 2rem 1rem;
  }
}
@media (max-width: 768px) {
  .main-hero-container h1 {
    top: 45%;
  }
  .about-text-heading h2 {
    font-size: 18px;
  }
  .main-hero-container h1,
  .main-hero-container h3 {
    text-align: left;
  }
  .aboutus-section-container {
    flex-direction: column;
    gap: 10px;
    margin-top: 150px;
    padding: 20px 60px;
  }

  .about-left-infocontainer {
    gap: 30px;
    align-items: center;
    padding: 0 30px;
  }
  .about-right-infocontainer {
    align-items: center;
    gap: 30px;
    align-items: center;
    flex-direction: column;
  }
  .about-left-infocontainer h2,
  .about-right-infocontainer h2 {
    font-size: 1.8em;
  }
  .text-container-right,
  .text-container-left {
    text-align: center;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    margin-top: 35px;
  }
  .text-container-left {
    margin-bottom: 140px;
    align-self: flex-end;
  }
  .text-container-right {
    margin-top: 50px;
  }
  .text-container-left p,
  .text-container-right p {
    font-size: 1em;
    line-height: 30px;
  }

  .image-wrapper {
    gap: 40px;
    margin-top: 20px;
  }

  .image-wrapper2 {
    gap: 20px;
  }
  .quote-message {
    font-size: 42px;
    margin: 35px 0;
    padding: 0 10px;
    font-style: normal;
  }
  .interior_picture {
    height: 25rem;
  }
  .features_container {
    grid-template-columns: 1fr;
  }

  .text_container {
    width: 500px;
    height: 350px;
    font-size: 0.2rem;
  }

  .text_container p {
    font-size: 0.2em;
    line-height: 1.4;
    margin-bottom: 2.2rem;
  }

  .text_container h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
  }

  .text_container p {
    text-align: left;
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .main-hero-container h1,
  .main-hero-container h3 {
    left: 10px;
    text-align: left;
    padding: 10px;
  }
  .main-hero-container {
    height: 50rem;
    font-size: 12px;
  }

  .about-text-heading img {
    width: 150px;
  }

  .aboutus-section-container {
    flex-direction: column;
    gap: 10px;
    margin-top: 150px;
    padding: 20px 40px;
    padding-bottom: 80px;
  }

  .about-left-infocontainer {
    gap: 30px;
    padding: 0;
    align-items: center;
  }
  .about-right-infocontainer {
    align-items: center;
    gap: 30px;
    padding: 0;
    align-items: center;
    flex-direction: column;
  }

  .text-container-right,
  .text-container-left {
    text-align: center;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    margin-top: 35px;
  }
  .text-container-left {
    margin-bottom: 140px;
  }
  .text-container-right {
    margin-top: 50px;
  }
  .text-container-left p,
  .text-container-right p {
    font-size: 1em;
    line-height: 30px;
  }
  .about-left-infocontainer h2,
  .about-right-infocontainer h2 {
    font-size: 1.6em;
  }

  .image-wrapper {
    flex-direction: column;
    margin-top: 60px;
    gap: 20px;
  }
  .image-wrapper img {
    height: 205px;
    width: 330px;
  }

  .quote-message {
    font-size: 42px;
    margin: 10px 0;
    padding: 0 10px;
  }

  .about-text-heading {
    margin: 100px 0;
    padding: 0 30px;
  }

  .features_container {
    grid-template-columns: 1fr;
  }
  .interior_picture {
    height: 20rem;
  }

  .feature {
    gap: 0;
    padding: 0;
    height: 240px;
  }

  .picture {
    max-width: none;
    overflow: hidden;
  }

  .text_container {
    text-align: center;
    width: 300px;
    height: 250px;
    max-width: none;
    padding: 0;
    font-size: 0.1rem;
  }

  .text_container h1 {
    font-size: 1em;
    margin: 20px;
    color: #f7f1e1;
  }

  .text_container p {
    font-size: 0.2em;
    line-height: 1.4;
    margin-bottom: 2.2rem;
  }

  .text_container h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    color: #9c7814;
  }

  .picture_features {
    overflow: hidden;
  }

  .text_container p {
    text-align: left;
    font-size: 1.1rem;
  }
}
