.divider{
    /* width: 100%; */
    height:70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;   
}



body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #070505;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar{
 margin: 0;
 position: fixed;
 z-index: 1000;
 width: 100%;
 height: 10vh;
  transition: transform 0.4s ease;
}
.navbar.hidden {
  transform: translateY(-100%);
}


.navbar_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:9vh;
      background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.877) 10%,
     rgba(0, 0, 0, 0.877) 50%,   
 
    rgba(0, 0, 0, 0.877) 100%  
  );
     margin:0;
     padding: 0 0rem;
}

.navbar_toggle.hidden{
    display: none;
}

.logo{
    height: 100px;
    margin-top: 0.6rem;
    width: auto;
}
.logo:hover{
    cursor: pointer;
}

.nav_menu{
    display:flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    
}

.nav_item{
    margin:0 3rem;
    padding:1rem;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.nav_link{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.nav_link:hover{
    border-bottom: #F7F1E1 2px solid;
    padding-bottom: 0.2rem;
    transition:ease 0.3s;
    cursor:pointer;
}

/*footer*/


.footer_container{
    width: 100%;
    height: 60vh;

}

.footer_section{
    width: 100%;
    height: 100%;
    display: grid;
   grid-template-columns: 1fr 1fr 1fr; 
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  gap: 2rem;
  background-color: #1e0202;
}

.footer_logo_container{
    grid-template-columns: 1;

}
.footer_logo{
  
    height: 10em;
}

.footer_text_container{
    grid-template-columns: 2;
    align-items: center;
    justify-content: center;
}

.footer_text{
    font-size: 1rem;
    color: #F7F1E1;
     font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
}

#map{
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
}

.section2 { 
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: space-between;
    position: relative;
    overflow: visible;
  
}
.section2::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: black;   
}

.section1{
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 100%;
    justify-content: center;
    animation: fadeAnimation 2.5s ease-in forwards;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url(/photos/sogno-ph2.jpg);
}

#divider-name{
    font-size: 3rem; 
    font-family: "Instrument Serif", serif;
    font-weight: 100;
    font-style: normal;
    animation: fadeAnimation 2.5s ease-in forwards;
}

.l-divider{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    padding-bottom: 80px;
    z-index: 1;
    gap: 20px;
}

.line{
    transition: width 4.5s ease;
    width: 0;
    background-color: aliceblue;
    height: 1px;
}

@keyframes fadeAnimation{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.FindUs{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    flex-direction: row;
    justify-content:space-around;
    margin: 50px;
    margin-bottom: 150px;
    margin-top: 150px;
    padding: 20px;
    border: 2px solid  rgb(255, 255, 255);
    border-radius: 20px;

}

.FindUs-h1{
    color: #F7F1E1;
    text-shadow: 2px 2px 8px rgb(0, 0, 0, 0.9);
    font-family: "Instrument Serif", serif;
    letter-spacing: 10px;
    font-size: 40px;
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 10px;
    background-color:black;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 100px;
   
}

.FindUs img{
    height: 24px;
    filter: drop-shadow(0 0 2px rgba(0,0,0,0.5));
}

.FindUs-container,
.FindUs-container1{
    height: 100px;
    width: fit-content;
    display: flex;
    width: fit-content;
    justify-content: center;
}

.FindUs-container2,
.FindUs-container11{
    width: 200px;
    display: flex;
    justify-content: center;
    height: fit-content;
    border-radius: 10px;
    padding: 50px;
    gap: 10px;
    background-color: black;
    transition: all  1s ease;
}

.FindUs a{
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
    color:rgb(255, 255, 255)
}

.FindUs-container2:hover,
.FindUs-container11:hover{
     backdrop-filter: blur(16px);
     transform: translateY(-3px);
     background-color:#1b0202;
     
}

.FindUs-container3{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: black;
    margin-top: 100px;
    margin-bottom: 50px;
}

.FindUs-container33{
    color: #F7F1E1;
    display: flex;
    height: fit-content;
    margin: 50px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    width:800px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
}

 #find-us-header{
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
    font-family: "Instrument Serif", serif;
    letter-spacing: 10px;
    font-size: 40px; 
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.1px solid ;
    animation: typingA 2s steps(16,end) forwards,
    blink 1s  step-end infinite;
    
 }

  @keyframes typingA{

    from{ width: 0;
    }
    to{
        width: 367px;
    }
 }

 @keyframes blink{

    from,to{
        border-color: transparent;
    }

    50%{
        border-color: rgb(255, 255, 255);
    }
 }

 
.emb{
    display: flex;
    justify-content: center;
    align-items: center;
}

#emb{
  width: 200px;
  height: auto;
}

buttonM:hover{
 transform: translateY(-5px);
 background-color: #200606;
}

.buttonM{
 height: 70px;
 padding-left: 60px;
 padding-right: 60px;
 border-radius: 50px;
 border: 3px solid rgb(255, 255, 255);
 background-color: black;
 color: white;
 font-weight: 600;
 transition: all 1s ease;
 font-size: large;
}

.map{
    position: relative;
    width: 100%;
    height: 500px;
}

.buttons{
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 30px;
    height: 500px;
    width: 30%;
    left: 70%;
}




