
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #070505;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.section1{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    width: 100%;
    animation: fadeAnimation 2.5s ease-in forwards;
    margin-bottom: 200px;
}

.video-bg{
    width: 100%;
    height: 100vh;
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.l-divider{
    position: absolute;
    top:75vh;
    left:0;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    color: aliceblue;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    padding-bottom: 100px;
    z-index: 1000;
    gap: 20px;
}

.divider_title_container{
    height: 100px;
    width: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


#divider-name{
    font-size: 3rem; 
    font-family: "Instrument Serif", serif;
    font-weight: 100;
    font-style: normal;
    animation: fadeAnimation 2.5s ease-in forwards;
}



.line{

    transition: width 4.5s ease;
    width: 0;
    background-color: aliceblue;
    height: 1px;
    display: flex;
    align-self:center;
}

@keyframes fadeAnimation{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


/*how to find us*/




.FindUs-h1{
    color: #F7F1E1;
     font-family: "Instrument Serif", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 40px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:50px;
}



 #find-us-header{
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
         font-family: "Instrument Serif", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 40px; 
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.1px solid ;
    animation: blink 1s  step-end infinite;
 }




 /**/

#map{
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
}





 @keyframes blink{

    from,to{
        border-color: transparent;
    }

    50%{
        border-color: rgb(255, 255, 255);
    }
 }

 
.buttonM:hover{
 transform: translateY(-5px);
}

.buttonM{

 height: 70px;
 width: 200px;

 border-radius: 10px;
 border: 1px solid white;
 background-color: black;
 color: white;
 font-weight: 600;
 transition: all 1s ease;
 font-size: large;
      font-family: "Instrument Serif", serif;
    font-weight: 100;
    font-style: normal;
}



.map{
    position: relative;
      width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map_link {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
iframe{

    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;


}


.buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
    z-index: 10;
}


/*forms*/


.contactus1 {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    gap: 10px;
    box-sizing: border-box;
    margin-bottom: 100px;
}



.contactus {
    width: 30%;
}

#contactus {
    color: #F7F1E1;
    font-family: "Instrument Serif", serif;
    font-size: 30px;
    text-align: left;
}



.forms {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}



.form2 {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 40px;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
}



input,
textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 14px;
    padding: 6px 4px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    height: 200px;
    resize: none;
    border-radius: 15px;
    padding: 12px;
}


input[type="checkbox"] {
    width: auto;
    margin-right: 8px;
}


#messageForm {
    text-align: left;
}

.submitButton {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding:  5px 10px;
    font-family: "Instrument Serif", serif;
    letter-spacing: 1px;
    height: 36px;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.submitButton:hover {
    background-color: #ffffff;
    color: black;
}





@media screen and (max-width: 1200px) {
    .buttons {
        width: 40%;
        left: 60%;
    }

    .FindUs {
        margin:100px 20px;

    }

    .FindUs-container2,
    .FindUs-container11 {
        font-size: 18px;
        padding: 30px;
    }

    .contactus {
      margin-bottom: 40px;
        padding: 15px;
    }

    .contactus1 {
        margin: 100px 30px;
        padding: 15px;
        height: fit-content;
    }

    .forms{margin-bottom: 45px;
    }
    
    .form1, .form2{
        margin: 0 
    }

    .emb{
        width: 200px;
    }

}


@media screen and (max-width: 992px) {
    body{
        width: 100%;
    }

    .forms{
        flex-wrap: wrap;
    }

    .buttonM{
        height: 50px;
        width: 240px;
        font-size: 15px;

    }
    .FindUs-container3{
        margin: 0px;
        background-color: transparent;
    }
   .FindUs-container{ order: 2; } 
   .FindUs-container1 { order: 2; } 
   .emb { order:3 ; }
   .FindUs-container3 { order: 4; } 
  
    .FindUs-h1 {
       padding-top: 10px;
        margin-bottom: 40px;
    }
    .form1{order: 3;
    }
    .form2{order: 1;
    }
    .emb{order: 2;
    }
    .forms{
        flex-direction: column;
    }
    #contactus{
        font-size: 30px; 
        
    }
}


@media screen and (max-width: 802px) {
    body{
        width: 100%;
    }

    .forms{
        flex-wrap: wrap;
    }

    .buttonM{
        height: 50px;
        width: 240px;
        font-size: 15px;

    }
    .FindUs-container3{
        margin: 0px;
        background-color: transparent;
    }
    .FindUs-container{ order: 2; } 
    .FindUs-container1 { order: 1; } 
    .emb { order:3 ; }
    .FindUs-container3 { order: 4; } 
  
    .FindUs-h1 {
        padding-top: 10px;
        margin-bottom: 40px;
    }
    .form1{order: 3;
    }
    .form2{order: 1;
    }
    .emb{order: 2;
    }
    .forms{flex-direction: column;
    }
    #contactus{
        font-size: 30px; 
        
    }
}
@media screen and (max-width: 768px){
      body{
        width: 100%;
    }
    .FindUs-h1{
        padding: 0;
        padding-bottom: 10px;
    
    }
    #find-us-header{
        font-size: 30px;
    }
      @keyframes typingA{

    from{ width: 0;
    }
    to{
        width: 320px;
    }
    }
     .buttonM{
        height: 50px;
        width: 190px;
        font-size: 12px;
        padding: 0;
    }
    .buttons{
        top: 60%;
        left: 50%;
        height: fit-content;
        gap: 10px;
    }
    .FindUs-container33 p,
    .FindUs-container33
    {
        height: fit-content;
        margin: 0;
        font-size: 16px;
    }
    .FindUs-container3{
        height: fit-content;
    }
        #contactus{
        font-size: 19px;
        padding: 0;
    
    }
    .contactus{
        padding: 0;
        padding-bottom: 10px;
    }
    #divider-name{
        font-size: 40px;
    }
}

@media screen and (max-width: 480px){
    .l-divider{
        padding-left: 0;
        padding-right: 0;
    
    }
       #divider-name{
        font-size: 35px;
    }
      .FindUs-h1{
        padding: 0;
        padding-bottom: 10px;
    
    }
    .form1,
    .form2{
        padding-right: 20px;
        padding-left: 20px;
    }
    .First-form{
        width: 250px;
    }
    .forms{
        margin: 0;
    }
    #find-us-header{
        font-size: 25px;
    }
   
}


