div{
    color: white;
}
.btn{
    background-color: #330404;
    border-color: white;
}
.btn:hover{
    background-color: white;
    border-color: #1e0202;
    
    color: black;
}
  .card {
    border: 3px solid white; 
    border-radius: 0.5rem;   
  }

.divider{
    height:40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;   
}



.card {
  text-align: center;
  height: 100%;
  background-color: #180101; 
  color: white;
}

.card:hover {
  /* transform: scale(1.05); */
  background-color: white;
  border: #180101;
  color: black;
}

.card img {
  height: 250px; 
  object-fit: cover; 
  display: block;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #070505;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
/*navbar style*/

.navbar{
 margin: 0;
 position: fixed;
 z-index: 1000;
 width: 100%;
 height: 10vh;
  transition: transform 0.4s ease;
}
.navbar.hidden {
  transform: translateY(-100%); /* me mshef kur e animojna per scroll */
}


.navbar_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:9vh;
      background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.877) 10%,
     rgba(0, 0, 0, 0.877) 50%,   
 
    rgba(0, 0, 0, 0.877) 100%  
  );
     margin:0;
     padding:0 2rem;
}

.navbar_toggle.hidden{
    display: none;
}

.logo{
    height: 100px;
    margin-top: 0.6rem;
    width: auto;
}
.logo:hover{
    cursor: pointer;
}

.nav_menu{
    display:flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    
}

.nav_item{
    margin:0 3rem;
    padding:1rem;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}




.nav_link{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.nav_link:hover{
    border-bottom: #F7F1E1 2px solid;
    padding-bottom: 0.2rem;
    transition:ease 0.3s;
    cursor:pointer;
}

/*footer*/


.footer_container{
    width: 100%;
    height: 60vh;

}

.footer_section{
    width: 100%;
    height: 100%;
    display: grid;
   grid-template-columns: 1fr 1fr 1fr; 
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  gap: 2rem;
  background-color: #1e0202;
}

.footer_logo_container{
    grid-template-columns: 1;

}
.footer_logo{
  
    height: 10em;
}

.footer_text_container{
    grid-template-columns: 2;
    align-items: center;
    justify-content: center;
}

.footer_text{
    font-size: 1rem;
    color: #F7F1E1;
     font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
}

