 .divider {
     /* width: 100%;*/
     height: 70vh;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0;
     padding: 0;
 }

 body {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     background-color: #070505;
     font-family: "Instrument Serif", serif;
     font-size: larger;
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
 }

 #main {
     color: white;
     /* padding-top: 10vh; */
     /*qe mos me u perzi navbar me main*/
 }

#videocontainer{
    position: relative;
    width: 100%;
    height: 95vh; 
    overflow: hidden;
    background: rgba(0,0,0,0.5);
}

 #background-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#background-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#intro {
     text-align: center;
     color: white;
     padding-top: 5%;
     padding-bottom: 16%;
     font-size:x-large;
     line-height: 38px;
     position: relative;
     z-index: 2;
 }

 #intro h2{
     /* width: 300px; */
     margin: 0 auto;
     width: 100%;
     padding-top: 25vh;
     padding-bottom: 4vh;
 }  

 .section-divider {
     display: flex;
     align-items: center;
     margin-bottom: 5vh;
     font-size: x-large;
 }

 /* pseudoelement */
 .section-divider::before,
 .section-divider::after {
     content: '';
     flex: 1;
     padding: 0.5px;
     background-color: rgb(255, 255, 255);
 }

 .events {
     /*krejt cards bashke*/
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     padding-bottom: 60px;
 }

 .first-event-card,.event-card{
    border: 1px solid;
     border-radius: 10px;
     text-align: center;
     margin: 20px;
     padding: 45px 10px 40px 10px;
     transition: all 0.3s;
 }

 .first-event-card {
     width: 65%;
     padding-bottom: 8vh;
     padding-top: 8vh;
     margin: 13vh 0;
 }

 .event-card {
     width: 35%;
 }

 /*per jquery*/
/* .event-card {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.event-card.show {
  opacity: 1;
  transform: translateY(0);
} */
/*per jquery*/

 .first-event-card:hover,
 .event-card:hover {
     backdrop-filter: blur(2px);
     /*per me bo blur brenda card*/
     background: rgba(255, 255, 255, 0.032);
 }

 #upcoming_performance {
     background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
         url('/photos/music-background.jpg');
     /*rgba1-ne fillim op, rgba2-ne fund op */
     background-size: cover;
     background-position: center;
     width: 100%;
 }

 #future_events {
     background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
         url('/photos/music_night.jpg');
     width: 100%;
     background-size: cover;
     background-position: center;
     padding-bottom: 20px;
 }

/* per date & time */
 .inside_card {
     display: flex;
     gap: 10%;
     justify-content: space-between;
     padding: 0 10%;
     margin-top: 20px;
     font-size: larger;
 }

 .price{
    font-size: 20hv;
 }

 .tickets {
     margin: 30px 0 8px;
     padding: 10px 65px;
     border-radius: 40px;
     border: 1px solid rgba(103, 62, 1, 0.656);
     background-color: #170000;
     color: #e0e0e0;
     transition: all 0.4s;
     cursor: pointer;
     font-family: "Instrument Serif", serif;
     font-size: larger;
 }

 .tickets:hover {
     color: #170000;
     background-color: rgb(253, 249, 249);
     border: 1px #170000;
 }

 .tickets:active {
     color: #170000;
     background-color: rgb(35, 1, 1);
     border: 1px #170000;
 }

/* RESPONSIVENESS */

@media screen and (max-width:1317px){
    .event-card{
        width: 75%;
    }
}

@media screen and (max-width: 992px) {

    #intro {
        font-size: medium;
        line-height: 28px;
        padding-top: 8px;
    }

    #videocontainer{
    width: 100%;
    height: 70vh; 
}

    .first-event-card,
    .event-card {
        width: 75%;      
        margin: 15px 0;
        padding: 30px 10px;
    }

    .inside_card {
        flex-direction: row;
        gap: 20px;
        text-align: center;
    }

    .tickets {
        width: 40%;       
        padding: 12px 20px;
    }
}

@media screen and (max-width:768px){
    #intro h2 {
        padding-top: 15vh;
    }

    #intro pre {
        font-size: 14px;
        line-height: 2vh;
    }

    #videocontainer{
    width: 100%;
    height: 45vh; 
}

    .first-event-card,
    .event-card {
        width: 70%;
        font-size: small;
    }

    .inside_card {
        flex-direction: row;
        text-align: center;
        gap: 2px;
        padding: 0 4vh;
    }

    .tickets {
        padding: 8px 40px;
        font-size: normal;
    }
}

@media screen and (max-width:589px){

    #intro h2 {
        padding-bottom: 0;
        font-size: 14px;
    }

    #intro pre {
        font-size: 10px;
        line-height: 13px;
    }

    #videocontainer{
    width: 100%;
    height: 35vh; 
}

    .first-event-card,
    .event-card {
        width: 80%;
        padding: 20px 8px;
        margin: 12px 0;
    }

    .inside_card {
        flex-direction: row;
        gap: 5px;
        padding: 0 30px;
        text-align: center;
    }

    .inside_card img {
        width: 100px;
    }

    .tickets {
        padding: 7px 35px;
        font-size: 15px;
        margin-top: 20px;
    }

    .section-divider {
        font-size: 80%
    }
}

@media screen and (max-width:418px){

    #intro h2 {
        font-size: 13px;
        padding-top: 15vh;
        padding-bottom: 1.5vh;
    }

    #intro pre {
        font-size: 10px;
        padding-bottom: 8vh;
        line-height: 13px;
    }

    .first-event-card,
    .event-card {
        width: 80%;
    }

    .inside_card {
        flex-direction: row;
        gap: 4px;
        padding: 0 23px;
        text-align: center;
        font-size: 12px;
    }

    .price{
        font-size: 12px;
    }

    .inside_card img {
        width: 80px;
    }

    .tickets {
        padding: 6px 25px;
        font-size: 12px;
        margin-top: 15px;
    }

    .section-divider {
        font-size: 13px;
    }
}