body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F7F1E1;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*intro style*/
.intro_contaier{
    opacity: 0;
    display: none;
}


/*navbar style*/

.navbar{
 margin: 0;
 position: fixed;
 z-index: 1000;
 width: 100%;
 height: 10vh;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:9vh;
      background: linear-gradient(
    90deg,
    rgba(29, 11, 4, 0.877) 10%,
     rgba(29, 11, 4, 0.877) 50%,   
 
    rgba(29, 11, 4, 0.877) 100%  
  );
     margin:0;
     padding:0 2rem;
}

.navbar_toggle.hidden{
    display: none;
}

.logo{
    height: 100px;
    margin-top: 0.6rem;
    width: auto;
}
.logo:hover{
    cursor: pointer;
}

.nav_menu{
    display:flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    
}

.nav_item{
    margin:0 3rem;
    padding:1rem;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}




.nav_link{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.nav_link:hover{
    border-bottom: #F7F1E1 2px solid;
    padding-bottom: 0.2rem;
    transition:ease 0.3s;
    cursor:pointer;
}

/*hero style*/

.hero_container{
    position: relative;/*qe me dal videoja ner navbar*/
    width: 100%;
    height: 99vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}



.hero_text_container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height:90vh;
    position: absolute;
    top: 9vh;
    left: 0;
    background: linear-gradient(
    90deg,
    rgba(29, 11, 4, 0.877) 10%,
     rgba(29, 11, 4, 0.877) 50%,   
 
    rgba(29, 11, 4, 0) 100%  
  );
    z-index: 10;
    border-radius: 5px;
}

.hero_text{
    text-align: left;
    padding: 4rem;
}

.hero_title{
    color:#F7F1E1;
    

}

#hero_title1{
    font-size: 3rem; 
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
}

#hero_title2{
    font-size: 2rem; 
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 0.5rem;
}

.hero_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: 1; 
}


/*about section style*/
.about_section{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_container {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 10rem;
}

.about_image_container {
    width: 100%; /* or 70% if you want more image */
    height: 70%;
    position: relative;
    overflow: hidden;
}

.about_image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.about_image_text {
    position: absolute;
    top: 50%;
    left: 50%;
     transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
    font-family: "Instrument Serif", serif;
    z-index: 2;
    font-family: "Island Moments", cursive;
    font-weight: 400;
    font-style: normal;
}



.about_text_container {
    margin-top: -6rem; 
    width: 80%;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about_title{
    font-size: 2.5rem;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1rem;
}

.about_text{
    font-size: 1.2rem;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    text-align: center;
}

.learn_more_button{
    margin-top: 2rem;
    padding: 0.5rem 3rem;
    font-size: 1.2rem;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 15px;
    border: 1px solid #1d0b04f5;
    background-color: #F7F1E1;
    
}
.learn_more_button:hover{
    background-color: #1d0b04f5;
    color: white;
    cursor: pointer;
    transition: ease 0.3s;
}

/*main section style*/
.menu_section{
    height: 120vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_container{
   width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 10rem;
}
.menu_background_container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: rgba(67, 33, 9, 0.371);
}

.menu_background_container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(29, 11, 4, 0.5); 
    z-index: 1;
    pointer-events: none;
}

.menu_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 0;
    
}

.menu_img_txt{
    position: absolute;
    top:10%;
    left:50%;
    transform: translate(-50%, -50%);
    display:flex;
     flex-direction: column;
    width:80%;
    align-items: center;
    justify-content: center;
    z-index: 2;
    color: #F7F1E1;
}
.menu_image_text{
    font-size: 3rem;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0.5rem;
    margin-top: 0;
}


.menu_cards{
     position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90vh;
    margin-top:2rem;
}
.menu_card{
    background-color: #cda15466;
    width: 22%;
    height: 75%;
    margin:auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.menu_card:hover{
    transform:translateY(-10px);
    transition: ease 0.2s;
    background-color: #cda154f5;
    cursor: pointer;
}


.menu_card_img{
    width: 95%;
    height: 80%;
    margin: auto;
    margin-top: 0.8rem;
}
.food_img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.f_hover{
    text-align: center;
    font-size: 1.7rem;
    font-family: "Instrument Serif", serif;
    font-weight: 500;
    font-style: normal;
    margin-top:1.5rem;
    color: #F7F1E1;
}

.button_container{
     z-index: 2;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.view_menu_button{
    margin-top: 2rem;
    padding: 0.5rem 4rem;
    font-size: 1.3rem;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 15px;
    border: none;
    background-color: #a38043f5;
    color:#F7F1E1;
    
}
.view_menu_button:hover{
    background-color: #e2a337f5;
    color: #000000;
    cursor: pointer;
    transition: ease 0.3s;
}

/*music section style*/

.music_section{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music_container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top:20rem;
}

.music_video_container{
    width: 100%;
    height: 100%;
    position: relative;
}
.music_video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.music_text_container{
    position:absolute;
    top:50%;
    left:25%;
    transform:translate(-50%,-50%);
    width: 80%;
    height:95%;
    z-index: 2;
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(90deg,
  #000000c2 0%,
  #00000061 50%, 
  #00000000 100%);
  
  
}
.music_text{
    width: 100%;
    height: 50%;
    margin:0;
    
}
#music_title{
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: "Instrument Serif", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3rem;
    color: #F7F1E1;
    
}
#music_desc{
     position: absolute;
    top:55%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size:1.5rem;
    color: #F7F1E1;
}

.music_button_container{
    position: absolute;
    top:80%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 50%;
    height:30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.music_button{
    width: 50%;
    font-size: 1.2rem;
    font-family: "Instrument Serif", serif;
    font-weight: 500;
    font-style: normal;
    border-radius: 15px;
    border: none;
    padding:0.5rem 1rem;
    background-color: #5a3805;
    color:#F7F1E1;
}
.music_button:hover{
    background-color: #b47311;
    transition: ease 0.3s;
    cursor: pointer;
}


