* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;

}

.footer {
  color: rgb(235, 235, 235);
  background-color: rgb(49, 1, 1);
  font-size: 1.2rem;
  box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.2);
}

@media (max-width: 480px) {

  .h1_paragraph_footer {
    font-size: 1.35rem;
    min-width: 300px;
    text-align: center;

  }

  .links-container {
    grid-template-columns: 1fr;
    text-align: center;

  }

  .logo-section {
    align-items: center;
  }
}

.h1_paragraph_footer {
  width: 40%;
  overflow: hidden;
}

.links-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 50px;
  align-items: start;
  height: 100%;
  justify-content: center;
  padding-top: 6rem;
}

.logo-section {
  display: flex;
  flex-direction: column;
}

.logo-section p {
  max-width: 220px;
}

.logo-section a img:hover {
  transition: 0.3s all ease;
}

.logo-section a img:hover {
  scale: 1.05;
}

@media (max-width: 768px) {
  .footer {
    font-size: 1.1rem;
  }

  .links-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding-top: 4rem;

  }

}

@media (max-width: 480px) {
  .links-container {
    grid-template-columns: 1fr;
    text-align: center;
    padding-top: 1rem;
  }
}

ul li {
  list-style: none;
  margin-bottom: 0.7em;
}

ul li a {
  text-decoration: none;
  color: rgb(167, 167, 167);
  transition: 0.2s ease;
}

ul li a:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid rgb(150, 149, 149);

}

h3 {
  margin-bottom: 1em;
}

.footer_bar {
  padding: 1.3rem;
  font-size: 1.1rem;
  text-align: center;
  border-top: #4e4b4b solid 1px;
}